p{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.head{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 2px;
}

.para{
  font-size: 15px;
  
}

.para-line{
  text-decoration: underline;
}

